<div class="bs-docs-section ">
  <div class="row">
    <div class="col-sm-12">
      <h1>Editing Visualization</h1>
      
      <%= render 'form' %>

      <%= link_to 'Show', @visualization %> |
      <%= link_to 'Back', @visualization.datum %>
    </div>
  </div>
</div>
