<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <iframe src="<%= standalone_visualization_path @visualization %>" frameborder="0" height="600px" width="100%" style="border:1px dashed #bbb"></iframe>
    
      <%= link_to 'Edit', edit_visualization_path(@visualization), class: "btn btn-sm"  %>
      <%= link_to 'Back', @visualization.datum, class: "btn btn-sm" %>
    </div>
  </div>
</div>