<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<div class="form-group label-placeholder is-empty">
  <label for="i5p" class="control-label">label-placeholder</label>
  <input type="email" class="form-control" id="i5p">
  <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
  <span class="material-input"></span>
</div>