<h1>Editing Datum</h1>

<%= render 'form' %>

<div class="bs-component">
  <%= link_to 'Show', datum_path(@datum), class: "btn btn-sm" %>
  <%= link_to 'Back', data_path, class: "btn btn-sm" %>
</div>