<div class="input-group">
  <%= f.text_field :option, class: 'form-control', placeholder: :option %>
  <span class="input-group-btn">
    <a class="btn">
      <i class="material-icons">close</i>
    </a>
  </span>
</div>